{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "nuxt",
    "prettier",
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "spellcheck"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "*.{js,ts,vue}"
      ],
      "rules": {
        "spellcheck/spell-checker": [
          "warn",
          {
            "skipWords": [
              "Bytewave",
              "nuxt",
              "nuxtjs",
              "vue",
              "Gtm",
              "href",
              "svg",
              "xml",
              "ssr",
              "vercel",
              "len",
              "favicon",
              "webmanifest",
              "@unocss/nuxt"
            ]
          }
        ],
        "sort-imports": [
          "error",
          {
            "ignoreCase": true,
            "ignoreDeclarationSort": true
          }
        ],
        "comma-dangle": [
          "error",
          "always-multiline"
        ],
        "quotes": [
          "error",
          "single"
        ],
        "block-spacing": "error",
        "semi": [
          "error",
          "never"
        ],
        "space-infix-ops": "error",
        "space-in-parens": [
          "error",
          "never"
        ],
        "keyword-spacing": "error",
        "no-multiple-empty-lines": [
          "error",
          {
            "max": 1,
            "maxEOF": 1
          }
        ],
        "padded-blocks": [
          "error",
          "never"
        ],
        "no-duplicate-imports": "error",
        "no-self-compare": "error",
        "camelcase": "off",
        "capitalized-comments": [
          "error",
          "always",
          {
            "ignoreConsecutiveComments": true
          }
        ],
        "dot-notation": "error",
        "eqeqeq": "error",
        "new-cap": "error",
        "no-var": "error",
        "spaced-comment": "error",
        "yoda": "error",
        "arrow-parens": "error",
        "max-len": [
          "error",
          {
            "code": 90
          }
        ],
        "no-extra-parens": "off",
        "no-tabs": "error",
        "prefer-spread": "error",
        "prefer-object-spread": "error",
        "prefer-object-has-own": "error",
        "endOfLine": "off",
        "no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-extra-semi": "off",
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "default",
            "format": [
              "camelCase"
            ]
          },
          {
            "selector": "variableLike",
            "format": [
              "camelCase"
            ],
            "leadingUnderscore": "allow"
          },
          {
            "selector": "variable",
            "modifiers": [
              "destructured"
            ],
            "format": null
          },
          {
            "selector": [
              "class",
              "typeLike"
            ],
            "format": [
              "PascalCase"
            ]
          },
          {
            "selector": [
              "objectLiteralProperty",
              "objectLiteralMethod",
              "typeProperty"
            ],
            "format": null
          }
        ],
        "tsdoc/syntax": "warn",
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "lf",
            "semi": false,
            "singleQuote": true,
            "trailingComma": "all",
            "printWidth": 90,
            "tabWidth": 2,
            "bracketSameLine": true
          }
        ]
      }
    },
    {
      "files": [
        "*.vue"
      ],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
      },
      "extends": [
        "plugin:vue/vue3-essential",
        "plugin:vue/vue3-recommended",
        "plugin:vue/vue3-strongly-recommended"
      ],
      "rules": {
        "vue/html-self-closing": "off",
        "vue/multi-word-component-names": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-closing-bracket-newline": "off",
        "vue/max-attributes-per-line": "off",
        "vue/html-indent": "off",
        "no-undef": "off",
        "prettier/prettier": [
          "error",
          {
            "parser": "vue",
            "endOfLine": "lf",
            "semi": false,
            "singleQuote": true,
            "trailingComma": "all",
            "printWidth": 90,
            "tabWidth": 2,
            "bracketSameLine": true
          }
        ]
      }
    },
    {
      "files": [
        "**/*.spec.{j,t}s?(x)"
      ],
      "extends": [
        "plugin:vitest-globals/recommended"
      ],
      "env": {
        "browser": true,
        "es2022": true,
        "node": true,
        "jest": true,
        "vitest-globals/env": true
      }
    },
    {
      "files": [
        "**/__mocks__/**/*.ts"
      ],
      "rules": {
        "@typescript-eslint/naming-convention": "off"
      }
    },
    {
      "files": [
        "**/*.cy.{j,t}s?(x)"
      ],
      "plugins": [
        "cypress",
        "chai-friendly"
      ],
      "extends": [
        "plugin:cypress/recommended",
        "plugin:chai-friendly/recommended"
      ],
      "env": {
        "browser": true,
        "es2022": true,
        "node": true,
        "jest": true,
        "cypress/globals": true
      }
    },
    {
      "files": [
        "*auto*.d.ts"
      ],
      "rules": {
        "capitalized-comments": "off",
        "max-len": "off",
        "@typescript-eslint/naming-convention": "off"
      }
    }
  ]
}